EXPO_PUBLIC_GOOGLE_MAPS_ANDROID_KEY=your_android_maps_key_here
EXPO_PUBLIC_GOOGLE_DIRECTIONS_KEY=your_directions_key_here
EXPO_PUBLIC_GOOGLE_MAPS_WEB_KEY=your_web_maps_key_here

EXPO_PUBLIC_API_URL=

# URL del backend, accesible desde el celular por la IP LAN de la PC.
# EXPO_PUBLIC_API_URL=http://aquivatuip:4000 -- el :4000 se mantiene
EXPO_PUBLIC_API_URL=